.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.showMoreBtn {
  padding: 10px 15px;
  border: none;
  margin: 10px auto;
  font-size: 18px;
}
