.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.showMoreBtn {
  padding: 10px 15px;
  border: none;
  margin: 10px auto;
  font-size: 18px;
}

.listPageCounters {
  display: flex;
  align-items: center;
}

.listPageCounters_item {
  margin: 0 1.5px;
}

.selectedPage {
  font-weight: bold;
  font-size: 1.2rem;
}
